<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Advertisements</h1>
      <a href="/advertisements/new" class="btn btn-primary">New Ad</a>

      <ul class="list-group">
        <% adverts.forEach((advert) => { %>
          <li class="list-group-item">
            <a href="/advertisements/<%= advert.id %>"> <%= advert.title %> </a>
          </li>
        <% }) %>
      </ul>

    </main>
  </body>
</html>